# OS
Thumbs.db
.DS_Store

# Editors
.vs/
.vscode/
.idea/
.zed/

# Node & JavaScript
node_modules/
.vite/
.astro/
.output/
.nuxt/
.nitro/
.cache/

# Testing
playwright-report/
test-results/
coverage/
.lighthouse/

# Build Output
dist/
build/
output/

# Environment
.env*
!.env.example

# Logs
*.log
*.log*

# Generated
*.pem
*.backup
*.tsbuildinfo

# Generated config output files
*.config.d.ts
*.config.d.ts.map
*.config.js
*.config.js.map

# Other
.ignore*/
LLM.md
.claude
CLAUDE.md
